@import url('https://fonts.googleapis.com/css2?family=Taprom&family=Ubuntu:wght@300;400&display=swap');

/* Basic Stylings */
:root{
    --secondary: black;
    --primary: hwb(0 60% 40% / 0.422);
    --secondaryA: white;
}
body{
    font-family: 'Ubuntu',
    sans-serif;
    font-size: small;
    color: var(--secondary);
}
.container-custom{
    max-width: 1440px;
    width: 100%;
    max-height: 1024px;
    height: 100%;
    padding: 0 0.75rem;
    margin-left: auto;
    margin-right: auto;
}
.btn-outline{
    color:var(--primary);
    padding:4px 12px;
    border: 2px solid var(--primary);
    border-radius: 3px;
}
.btn-outline:hover{
    background-color: var(--primary);
    color: var(--secondaryA);
}
/* Header Area starts here*/
.navbar .container-custom{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.nav-item{
    padding: 0 10px;
}
.nav-item a{
    color: var(--primary);
    font-weight: 500;
    font-size: 15px;
}
.nav-item a:hover{
    color:var(--secondary)!important;
}
/* Header Area Ends here*/
/* Homepage Hero Area Starts Here */
.Homepage-container-img {
    background-image: url("../img/wallpaperflare.com_wallpaper.jpg");
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    border-radius: 15px 15px 15px 15px;
}
.button-class {
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: space-evenly;
    max-height: 1024px;
    width: 100vh;
    max-width: 1440px;
    margin: auto;
}

.first-button {
    background-image: url("../img/istockphoto-1161409422-612x612.jpg");
    width:15vw;
    height:15vw;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    text-align: center;
    justify-content: center;
    line-height: 15em;
    border: 2px inset var(--secondaryA);
    color: var(--secondaryA);
}

.second-button {
    background-image: url("../img/istockphoto-483300738-612x612.jpg");
    width:15vw;
    height:15vw;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    text-align: center;
    justify-content: center;
    line-height: 15em;
    border: 2px inset var(--secondaryA);
    color: var(--secondaryA);
}
.buttons-middle.first-button a:link,a:visited{
    color: var(--secondaryA);
    font-weight: 500;
    text-decoration: none;
}
.buttons-middle.second-button a:hover,a:active{
    color: var(--secondary);
    font-weight: 500;
    text-decoration: none;
}
/* Homepage Hero Area Ends Here */
/* Recreational Hero Area Starts Here */
.Recreational-container-img {
    background-image: url("../img/crystalweed-cannabis-rLR4smahG2Q-unsplash.jpg");
    height:100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    border-radius: 15px 15px 15px 15px;
}
/* Recreational Hero Area Starts Here */